body {
    background-color: #e3b3ee;
}

div {
    padding: 5px;
    background-color: #A9DAD2;
}

#button {
    background-color: #49AB9B;
    color: white;
    text-align: center;
    border-radius: 20px;
    border-color: white;
    cursor: pointer;
    padding: 10px 20px;
}
